.buttons{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    height: 25px; 
}
  
.yes, .no{
    border: 1px solid #A5B6F5;
    margin-right: 10px;
    border-radius: 20px;
    padding: 0.5%;
    box-shadow: 0 2px #e5e5e5;
    font-size: 14px;
    padding: 3px;
    cursor: pointer;
}
  